.selectbutton {
  border: 1px solid lime;
  border-radius: 5px;
  padding: 10px 10px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  width: 22%;
  font-weight: 400;
  background-color: transparent;
  color: inherit;
}

.selectbutton.selected {
  background-color: lime;
  color: black;
  font-weight: 600;
}

.selectbutton:hover {
  background-color: lime;
  color: black;
}
